<div id="main-container">
  <div class="calc-container">
    <div class="result-display">
      <div class="display1"><strong>{{subDisplay | slice:-34}}</strong></div>
      <div class="display2"><strong>{{mainDisplay | slice:-23 }}</strong></div>
    </div>
    <div (click)="cls()" class="clear-display symbol">C</div>
    <div (click)="del()" class="delete-char symbol"><i class="material-icons">backspace</i></div>
    <div (click)="add('/')" class="divide symbol">÷</div>
    <div (click)="add('*')" class="multiply symbol">×</div>
    <div (click)="add('7')" class="seven number">7</div>
    <div (click)="add('8')" class="eight number">8</div>
    <div (click)="add('9')" class="nine number">9</div>
    <div (click)="add('-')" class="minus symbol">-</div>
    <div (click)="add('4')" class="four number">4</div>
    <div (click)="add('5')" class="five number">5</div>
    <div (click)="add('6')" class="six number">6</div>
    <div (click)="add('+')" class="plus symbol">+</div>
    <div (click)="add('1')" class="one number">1</div>
    <div (click)="add('2')" class="two number">2</div>
    <div (click)="add('3')" class="three number">3</div>
    <div (click)="calculate()" class="result">=</div>
    <div (click)="add('0')" class="zero number">0</div>
    <div (click)="add('.')" class="dot number">·</div>
  </div>
</div>
